	html, body
	{
		height: 100%;
        width: auto;
	}

    #bannerimage {
        background-image: url(/Logos/SHPE%20SBLA%20Official%20Logo.jpg); 
        background-color:white;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 180px;
     }

	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #174D7C;
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: rgba(0,0,0,.6);
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #16A085;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 90%;
	}
	

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
        pointer-events: none
	}
	
	.image img
	{
		display: block;
		width: 100%;
        pointer-events: none
	}
	
	.image-full
	{
		display: block;
		width: 100%;
        height: 200px;
		margin: 0 0 2em 0;
        object-fit: cover;
        pointer-events: none;
        
	}

.joining{
   max-height: 100%;
    float:left;
    display: inline-block;
    color:#174D7C;
}
.joining2{
    display: inline-block;
}
.joining3{
    display: inline-block;
    margin: 100px;
}

.infotext{
    background-color: white;
    color:black;
    
}

infotext3{
    background-color: white;
    color:white;
    
}

.infotext2{
    color:white;
    height: 50px;
    
}

.image-full-founders
	{
        height: 50%;
		margin: 0em 0em 0em 8em;
        object-fit: cover;
        pointer-events: none;
        float:left;
        color:#174D7C;
        clear:both;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 3em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #174D7C;
		width: 120px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #FFFFFF;
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.8em 2em;
		background: #174D7C;
		line-height: 1.8em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 1.8em;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 2em 0em;
		background-color: #174D7C;
     
        
        
        
	}

	#header
	{
        width: 100%;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
         
	}
	
	#logo h1
	{
		display: inline-block;
		margin-bottom: 0.20em;
		padding: 3em 50%;
        background-image: url(unnamed1.jpg);
        background-size: 60% 200px; 
        background-color: FFF;
        background-repeat: repeat-y ;
       
	}
	
	#logo a
	{
		text-decoration: none;
		color: #A0CBF0;
	}
	
	#logo span
	{
		
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,1);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/



	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

#twocolumnpictures {
    background-color: aqua;
    
}


	#menu
	{
        text-align: center;
	}
	
	#menu ul
	{
		display: inline-block;
		background: #000;
		text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        position: center;
        /* white-space: nowrap; */
        width: 100%;
	}

@media all (max-width:900px){
        #bannerimage {
        background-image: url(/Logos/SHPE%20SBLA%20Official%20Logo.jpg); 
        background-color:grey;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: auto;
     }

}
    @media only screen and (min-width: 900px) {
        
        header {
		position: absolute;
	}

	#menu-icon {


	}
    

	nav ul, nav:active ul { 

		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}


	#menu
	{
        
	}
	
	#menu ul
	{
	
		background: #000;
		text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        position: center;
        /* white-space: nowrap; */
        width: 100%;
	}
        #menu li
	{
		display: inline-block;
        
	}
	
	#menu li a, #menu li span
	{
		
		padding: 1em 1em;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
        
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		color: #FFF;
	}

}
	
	#menu li
	{
		
        
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 1em 1em;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 2;
		color: #FFF;
        
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		color: #FFF;
	}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		overflow: hidden;
		padding: 0em 0em 5em 0em;
		background: #FFF;
	}

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		overflow: hidden;
		background: #F3F3F3;
		padding: 5em 0em;
		text-align: center;
	}

	#wrapper3
	{
	}
	
	#wrapper4
	{
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 1000px;
		padding: 8em 100px 0em 100px;
		text-align: center;
		color: rgba(0,0,0,0.6);
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
	#welcome .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#welcome a,
	#welcome strong
	{
		color: rgba(0,0,0,0.8);
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		background: white;
		padding: 3em 0em;
		text-align: center;
	}

	#page-wrapper2
	{
		overflow: hidden;
		background: #174D7C;
		padding: 3em 0em;
		text-align: center;
	}

#center-wrapper{
       margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
}


	#page-wrapper3
	{
		
		background: #F3F3F3;
		padding: 3em 0em;
		text-align: center;
        margin: 0em 10em 0em 10em;
	}



#text-filter {
    margin: 0em 10em 0em 10em;
}

   #page .ffb{
      
    }

	#page
	{
        width: 100%;
	}
#page3
	{
        width: 100%;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 700px;
		padding-right: 100px;
		border-right: 1px solid rgba(0,0,0,.1);
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 350px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Footer                                                                     */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		text-align: center;
        background-color: #174D7C;
	}
	
	#footer p
	{
		letter-spacing: 1px;
		font-size: 0.90em;
		color: rgba(255,255,255,0.6);
	}
	
	#footer a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
       
        
        
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
        overflow:visible;
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4,
    .column5,
    .column6
	{
		width: 182px;
	}
	
	.column1,
	.column2,
	.column3,
    .column4,
    .column5,
    .column6

	{
		display: inline-block;
        margin: 20px;
        
	
	}
	
	.column6
	{
		
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		width: 100%;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		font-size: 1.5em;
		font-weight: 700;
        max-width: 100%;
	}
	
	#three-column .icon
	{
	
		display: block;
		margin: 0px auto 0.80em auto;
		background: none;
		line-height: 150px;
		font-size: 4em;
		width: 150px;
		height: 150px;
		
		border: 6px solid #67128F;
		text-align: center;
		color: #FFF;
		
	}


	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3,
    #three-column #tbox4
	{
        width:500px;
        display: flex;
    justify-content: space-between;
        display: inline-block;
	}
	
	#three-column .title
	{
		text-align: center;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}
	
	
	ul.tools
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	ul.tools li
	{
		display: inline-block;
		padding: 0em .2em;
		font-size: 4em;
	}
	
	ul.tools li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.tools li a
	{
		color: #FFF;
	}
	
	ul.tools li a:before
	{
		display: inline-block;
		background: #1ABC9C;
		width: 120px;
		height: 12s0px;
		border-radius: 50%;
		line-height: 120px;
		text-align: center;
		color: #FFFFFF;
	}

table1 {
    border-collapse: collapse;
    margin: 10px 100px 10px 100px;
}
th2, td2 {
    border: solid 1px #CCC;
    padding: 10px;
}


table {
    border-collapse: collapse;
    width:100%;
}
th, td {
    border: solid 1px #CCC;
    padding: 10px;
}
.fixed {
    max-width: 300px;
	  min-width: 300px;
}
.fluid {
		width: 50%;
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }






#content-slider {
    line-height: 1;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 10px;  /* font-size 1em = 10px = 62.5%*/

    /*background: #4e616d;*/
}

/* ------------------------------- > Clearfix */
.clr {
    *zoom: 1;
}
.clr:before,
.clr:after {
    display: table;
    content: "";
    line-height: 0;
}
.clr:after {
    clear: both;
}

/* ---------------------------------> wrapper */
#content-slider .wrap-slider {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

	max-width: 1200px;
	max-height: 400px;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: right;
}

#content-slider .wrap-slider.full {
    width: 100%;
    max-width: 100%;
    text-align: center; 
    border: none;
}

/* --------------------------------> Link style */
#content-slider *:focus {
    outline: 0;
} 

#content-slider a:hover {
	color: #7FD4FD !important;
	text-decoration: underline !important;
}

#content-slider a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#content-slider a:hover,
#content-slider a:active {
    outline: 0;
}

/* --------------------------------> Responsive images (ensure images don't scale beyond their parents) */
#content-slider img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border:0;
    -ms-interpolation-mode: bicubic;
}

/*---------------
	Main                        
---------------------------*/

#content-slider .slider {
	margin-top: 5%;
	position: absolute;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;						
}

#content-slider .inset {
	width: 500%;			
	line-height: 0;

	-webkit-animation: 30s slidy infinite;
       -moz-animation: 30s slidy infinite;
        -ms-animation: 30s slidy infinite;
         -o-animation: 30s slidy infinite;
            animation: 30s slidy infinite;

    -webkit-transition: all 2s ease-in-out;
       -moz-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
         -o-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out; 
}

#content-slider h1.main-title {
	text-align: center;
	color: #00ABFA;
	font-weight: 200;
	font-size: 32px;
	text-transform: uppercase;
	line-height: 52px;
	letter-spacing: 0.1em;
	margin: 5px 0 0px 0;
}

#content-slider .slider [class*='title-'] {
	background: rgba(0, 0, 0, 0.51);
	padding: 1% 1%;
	display: inline-block;
	width: 30%;
	/*width: 385px;*/
	height: auto;
	position: absolute;
	z-index: 12;
	margin: 15px 0 0 15px;
	/*margin-bottom: -15%;
	left: -65%;*//*
	margin-left: -40%;*/
	line-height: normal;
	overflow: hidden;
	text-align: left;

	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out; 
}

#content-slider .th>[class*='title-'] {
	width: auto;
	height: auto;
	position: absolute;
	top: 0em;
	right: 0em;
	text-align: right;
	margin: 20px 10px 0 0;
	opacity: 1;
	line-height: normal;
	overflow: hidden;
	
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}

/*------------------------------*/
/* ------------------------------------------------> article */
/*------------------------------*/
#content-slider .slider h1,#content-slider .th h1 {
	color: #fffefe;
	text-transform: uppercase;
	padding: 3px;
	margin: 0;
	font-weight: bold;
}

#content-slider .slider p,#content-slider .th p {
	color: #fffefe;
	text-transform: uppercase;
	padding: 0;
	margin: 6px ;
}

#content-slider .slider a,#content-slider .th a {
	font-weight: bold;
	color: #00ABFA;
	text-decoration: none;
	text-transform: uppercase;
}

/*------------------------------*/
/* -----------------------------------------------> article img slider*/
/*------------------------------*/
#content-slider .slider h1 { font-size: 3.0em; line-height: 2em; }

#content-slider .slider p {	font-size: 2.3em; line-height: 1.2em; }

#content-slider .slider a { font-size: 1.7em; line-height: 1.5em; }

/*------------------------------*/
/* -----------------------------------------------> article img prewiew*/
/*------------------------------*/
#content-slider .th h1 { font-size: 2em; line-height: 1.2em; }

#content-slider .th p { font-size: 1.2em; line-height: 1.7em; }

#content-slider .th a { font-size: 1.55em; line-height: 1.55em; }

#content-slider .th img {
	position: relative;
	max-width: 100%;
    height: 200px;
	
	 -webkit-filter: brightness(50%);
	    -moz-filter: brightness(50%);
	     -ms-filter: brightness(50%);
	      -o-filter: brightness(50%);
	         filter: brightness(50%);
	
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out; 
}

#content-slider .th:hover img {
	-webkit-filter: brightness(100%);
	   -moz-filter: brightness(100%);
	    -ms-filter: brightness(100%);
	     -o-filter: brightness(100%);
	        filter: brightness(100%);
}

/* ---------------------------------------------> main img */
#content-slider figure {
	margin: 0;
	padding: 0;
	width: 20%;
    height: 400px;
	float: left;
	cursor: pointer;

    -webkit-transition: all 2s ease-in-out;
       -moz-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
         -o-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out; 
}

#content-slider figure img {
	width: 100%;
	position: relative;
}		

/* --------------------------------------------> max contrloS img preview*/
#content-slider span.th {
	width: 25%;
	margin: 34% 0% 0 0%;
	float: left;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 1000;
	cursor: pointer;
}

#content-slider input[type='radio'] {			
	width: 10px;
	height: 10px;
	display: none;
	position: relative;
	/*left: 0%;
	bottom: 0%;*/

	display: none;
}

#control{					
	position: absolute;
	left: 3%;
	z-index: 5;			
	top: 55%;
	width: 95%;
}

#content-slider label.first{
	width: 9px;
	height: 9px;
	margin: 33% 1% 0 0%;
	/*float: left;*/
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 1000;
	cursor: pointer;
	border-radius: 100%;
	background: #00ABFA;
  border: 1px solid transparent;

	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out; 
}

#content-slider #main>label:after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff;
	position: absolute;
	top: 1px;
	left: 1px;
	border-radius: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 9;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; 
}

#content-slider input[type='radio'] {			
	width: 10px;
	height: 10px;
	display: none;
	position: relative;
	/*left: 0%;
	bottom: 0%;*/

	display: none;
}

#content-slider #control{					
	position: absolute;
	left: 3%;
	z-index: 15;			
	top: 0%;
	width: 95%;
	margin-top: 10%;

	display: none;
}

#content-slider label.first{
	width: 9px;
	height: 9px;
	/*margin: 33% 1% 0 0%;*/
	margin: 0% 1% -30% 0%;
	/*float: left;*/
	text-align: center;
	/*display: inline-block;*/
	position: relative;
	z-index: 1000;
	cursor: pointer;
	border-radius: 100%;
	background: #00ABFA;
  border: 1px solid transparent;

	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;

	display: none; 
}

#content-slider #main>label:after{
	content: '';
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #fff;
	position: absolute;
	top: 1px;
	left: 1px;
	border-radius: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 9;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; 
}

/*_____________________________________________________________________________________________*/

/*-------------------------------------------------------------------
	CoNTROLS                         
-------------------------------------------------------------------*/
#main>label:hover { width: 9px; height: 9px; background: #FFF; border: 1px solid #00ABFA; }	

input#a-1:checked ~ .slider .inset { margin-left: 0%;   }
input#a-2:checked ~ .slider .inset { margin-left:-100%; }
input#a-3:checked ~ .slider .inset { margin-left:-200%; }
input#a-4:checked ~ .slider .inset { margin-left:-300%; }
input#a-5:checked ~ .slider .inset { margin-left:-400%; }


input#a-1:checked ~ #main>label:nth-child(1):after { opacity: 1; visibility: visible; }
input#a-2:checked ~ #main>label:nth-child(2):after { opacity: 1; visibility: visible; }
input#a-3:checked ~ #main>label:nth-child(3):after { opacity: 1; visibility: visible; }
input#a-4:checked ~ #main>label:nth-child(4):after { opacity: 1; visibility: visible; }

input#a-1:checked ~ #control>label:nth-child(2),
input#a-2:checked ~ #control>label:nth-child(3),
input#a-3:checked ~ #control>label:nth-child(4),
input#a-4:checked ~ #control>label:nth-child(1),
input#a-5:checked ~ #control>label:nth-child(1),
input#a-1:checked ~ #control>label:nth-child(4),
input#a-2:checked ~ #control>label:nth-child(1),
input#a-3:checked ~ #control>label:nth-child(2),
input#a-4:checked ~ #control>label:nth-child(3) {
	width: 50px;
	height: 50px;
	top: 12em;
	display: inline-block;
	position: relative;			
	cursor: pointer;
}

input#a-1:checked ~ #control>label:nth-child(2),  
input#a-2:checked ~ #control>label:nth-child(3), 
input#a-3:checked ~ #control>label:nth-child(4), 
input#a-4:checked ~ #control>label:nth-child(1) {						
	background: url(https://github.com/lime7/slider/blob/master/images/right.png?raw=true) no-repeat;		
	float: right;
	right: 0.3%;						
}

input#a-1:checked ~ #control>label:nth-child(4),
input#a-2:checked ~ #control>label:nth-child(1),
input#a-3:checked ~ #control>label:nth-child(2),
input#a-4:checked ~ #control>label:nth-child(3) {			
	background: url(https://github.com/lime7/slider/blob/master/images/left.png?raw=true) no-repeat;	
	float: left;
	left: 0.3%;			
}

span#a-1:focus ~ .slider .inset { margin-left: 0%;   }
span#a-2:focus ~ .slider .inset { margin-left:-100%; }
span#a-3:focus ~ .slider .inset { margin-left:-200%; }
span#a-4:focus ~ .slider .inset { margin-left:-300%; }
span#a-5:focus ~ .slider .inset { margin-left:-400%; }

span#b-1:focus ~ .slider .inset { margin-left: 0%;   }
span#b-2:focus ~ .slider .inset { margin-left:-100%; }
span#b-3:focus ~ .slider .inset { margin-left:-200%; }
span#b-4:focus ~ .slider .inset { margin-left:-300%; }
span#b-5:focus ~ .slider .inset { margin-left:-400%; }

#content-slider input:checked ~ .slider>.inset {
	-webkit-animation: none;
       -moz-animation: none;
        -ms-animation: none;
         -o-animation: none;
            animation: none;		   
}
#content-slider input:hover ~ .slider>.inset, #content-slider label:hover ~ .slider>.inset {
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
        -ms-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
}
#content-slider input:hover ~ .slider>.inset, #content-slider label:hover ~ .slider>.inset {
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
        -ms-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
}
#content-slider span:focus ~ .slider>.inset {
	-webkit-animation: none;
       -moz-animation: none;
        -ms-animation: none;
         -o-animation: none;
            animation: none;		   
}
#content-slider span:hover ~ .slider>.inset {
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
        -ms-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
}

/*---------
	ANIMATION img                        
----------------------------*/

@keyframes slidy {
	 20% { margin-left:    0%; }
	 25% { margin-left: -100%; }
	 45% { margin-left: -100%; }
	 50% { margin-left: -200%; }
	 70% { margin-left: -200%; }
	 75% { margin-left: -300%; }
	 95% { margin-left: -300%; }
	100% { margin-left: -400%; }
}
@-webkit-keyframes slidy {
	 20% { margin-left:    0%; }
	 25% { margin-left: -100%; }
	 45% { margin-left: -100%; }
	 50% { margin-left: -200%; }
	 70% { margin-left: -200%; }
	 75% { margin-left: -300%; }
	 95% { margin-left: -300%; }
	100% { margin-left: -400%; }
}
@-moz-keyframes slidy {
	 20% { margin-left:    0%; }
	 25% { margin-left: -100%; }
	 45% { margin-left: -100%; }
	 50% { margin-left: -200%; }
	 70% { margin-left: -200%; }
	 75% { margin-left: -300%; }
	 95% { margin-left: -300%; }
	100% { margin-left: -400%; }
}
@-o-keyframes slidy {
	 20% { margin-left:    0%; }
	 25% { margin-left: -100%; }
	 45% { margin-left: -100%; }
	 50% { margin-left: -200%; }
	 70% { margin-left: -200%; }
	 75% { margin-left: -300%; }
	 95% { margin-left: -300%; }
	100% { margin-left: -400%; }
}

@media only screen and (max-width: 840px) and (min-width: 640px) {

	#content-slider .th h1 { font-size: 1.2em; line-height: 1em; }

	#content-slider .th p { font-size: 1.0em; line-height: 0.7em; }

	#content-slider .th a { font-size: 0.55em; line-height: 0.55em; }

}

/*@media only screen and (max-width: 940px) { 

	#content-slider .slider [class*='title-'] { margin-bottom: -20%; }

}*/
		
@media only screen and (max-width: 820px) {

	#content-slider .slider [class*='title-'] { display: none; }

	#content-slider span.first { display: none; }

	#content-slider span.th { width: 98%; cursor: default; margin-top: 37%; }

	#content-slider span.th img { float: left; width: 40%; margin-right: 5%; padding: .7% 0 0 0; }

	#content-slider .th>[class*='title-'] { right: 0%; width: 55%; text-align: left; }

	#content-slider #b-2 { margin: 5% auto 0 auto; }

	#content-slider #b-3, #content-slider #b-4 { margin-top: 5%; }

	#content-slider span#b-2:focus { opacity: 1; } span#b-2:focus ~ span#b-5 { display: none; }
	#content-slider span#b-3:focus { opacity: 1; } span#b-3:focus ~ span#b-5 { display: none; }
	#content-slider span#b-4:focus { opacity: 1; } span#b-4:focus ~ span#b-5 { display: none; }

	#content-slider #control { display: block; }

	#content-slider #main { padding: 1% 0; width: 100%; margin-top: 29.2%; z-index: 10; position: absolute; text-align: center; background: rgba(0, 0, 0, 0.71); }

	#content-slider label.first { display: inline-block; margin-bottom: 0; }

}

@media only screen and (max-width: 480px) {

	
	#content-slider #main { padding: 1% 0; width: 100%; /*bottom: -15.5em;*/ z-index: 10; position: absolute; text-align: center; background: rgba(0, 0, 0, 0.71); }

	#content-slider label.first { margin-bottom: 0; }
	/*#content-slider span.th { display: none; }*/

	#content-slider span.th img { display: none; }

	#content-slider .th>[class*='title-'] { width: 98%; margin: 2% auto; position: relative; text-align: center; }

	#content-slider #control { margin-top: 12%; }

}


.team {
list-style: none;
}

.team li {
display: inline-block;
text-align: center;
width: 128px;
padding: 20px;
}

.team li a {
text-decoration: none;
color: #4e4e4e;
}

.team li figure {
padding: 0;
margin: 0;
}

.team li figure img {
border: 2px solid #c0c0c0;
transition: border-color 500ms ease;
margin-bottom: 0.5em;
}


.team li figure figcaption {
font-weight: bold;
}

.team li figure figcaption em {
display: block;
font-weight: normal;
color: #c0c0c0;
}

.avatar {
border-radius: 50%;
background: #f2f2f2;
width: 128px;
height: 128pxpx;
}



/* Our Team
-------------------------------------------------------*/

.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: auto;
    height: 400px;
}

.team-member,
.team-img {
 
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}



.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 200px;
    left: -20px;
    
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 10px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: left;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 10px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}









/*Now the styles*/
* {
	margin: 0; 
	padding: 0;
}


/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;


*/

.accordian {
	width: 805px; height: 1000px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 1000px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}